@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    text-decoration: none; /* Para quitar el subrayado de las etiquetas a */
}

/*ESTILOS PARA EL NAV*/

.nav1{
    background-color: #ff9f1c;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 120px;
}

.logo img{
    display: flex;
    flex-wrap: wrap;
    width: 120px; /* Ajusta el ancho del logo */
    height: auto; /* Mantiene la proporción de la imagen */
}

.botonesNav{
    display: flex;
    flex-wrap: wrap;
    margin-right: 120px;
    gap: 40px; /*Doy espacio entre los botones*/
    color: white;
}

.botonesNav a:hover{
    color: #2EC4B6;
}

.botonesNav a {
    color: white; /* Aplica color blanco solo a los enlaces dentro de .botonesNav */
    text-decoration: none;
}

/*ESTILOS PARA PARTE DATOS*/
/*DATOS*/

.campoNombre{
    width: 60%;  
    height: auto;
    background-color: #ff9f1c;
    margin: auto; /* Centra horizontalmente la sección */
    margin-top: 100px;
    color: white;
    padding: 10px;
}

.contenedorFormulario{
    
    width: 60%;
    height: 200px;
    margin: auto;
    padding: 10px;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label{
    margin-bottom: 20px;
    color: #ff9f1c;
    font-weight: bold;
}

.formulario input[type="submit"] {
    width: 100px; /* Ancho automático basado en el contenido */
    padding: 10px; /* Ajustar el relleno según sea necesario */
    margin-top: 20px;
    margin-left: auto;
    background-color: #ff9f1c;
    border: none;
    color: white;
}

.formulario input[type="submit"]:hover {
    background-color: #2EC4B6; /* Cambiar el color de fondo al pasar el cursor */
    color: white; /* Cambiar el color del texto al pasar el cursor */
    cursor: pointer;
}

.contenedorFormulario textarea{
    padding: 20px;
    height: 80px;
}

/*ESTILOS PARA LAS CRITICAS*/

.contenedorCriticas{
    width: 78%;
    margin: auto; /* Centra horizontalmente la sección */
    margin-top: 40px;
    text-align: justify;
}


.comentarioAnonimo {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}


body {
    margin-bottom: 100px;
}






















