<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Prueba</display-name>
    <servlet-name>Prueba</servlet-name>
    <servlet-class>controlador.Prueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prueba</servlet-name>
    <url-pattern>/Prueba</url-pattern>
  </servlet-mapping>
  <display-name>Influefind</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AltaInfluencer</display-name>
    <servlet-name>AltaInfluencer</servlet-name>
    <servlet-class>controlador.AltaInfluencer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaInfluencer</servlet-name>
    <url-pattern>/AltaInfluencer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prueba</display-name>
    <servlet-name>prueba</servlet-name>
    <servlet-class>controlador.prueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prueba</servlet-name>
    <url-pattern>/prueba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listar</display-name>
    <servlet-name>Listar</servlet-name>
    <servlet-class>controlador.Listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listar</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarInfluencer</display-name>
    <servlet-name>eliminarInfluencer</servlet-name>
    <servlet-class>controlador.eliminarInfluencer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarInfluencer</servlet-name>
    <url-pattern>/eliminarInfluencer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaUsuarios</display-name>
    <servlet-name>AltaUsuarios</servlet-name>
    <servlet-class>controlador.AltaUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaUsuarios</servlet-name>
    <url-pattern>/AltaUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaComentario</display-name>
    <servlet-name>AltaComentario</servlet-name>
    <servlet-class>controlador.AltaComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaComentario</servlet-name>
    <url-pattern>/AltaComentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>controlador.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfluencersIndex</display-name>
    <servlet-name>InfluencersIndex</servlet-name>
    <servlet-class>controlador.InfluencersIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfluencersIndex</servlet-name>
    <url-pattern>/InfluencersIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Influencer</display-name>
    <servlet-name>Influencer</servlet-name>
    <servlet-class>controlador.Influencer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Influencer</servlet-name>
    <url-pattern>/Influencer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaInfluencer</display-name>
    <servlet-name>PaginaInfluencer</servlet-name>
    <servlet-class>controlador.PaginaInfluencer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaInfluencer</servlet-name>
    <url-pattern>/PaginaInfluencer</url-pattern>
  </servlet-mapping>
</web-app>